* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    margin:0;
    padding:0;
}
.headerdiv{
    width:100%;
    background-color:#08d1c9;
    position:fixed;
    height:114px;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: visible;
    transform: translateZ(0);
    border-bottom: 1px solid white;
}
.logo{
    width: 112px;
    height: 93px;
    padding-top:18px;
    padding-left:27px;
    cursor: pointer;
}
.headerdivleft{
    width:55%;
    height:114px;
    float:left;
}
#head1{
    float:left;
    color:white;
    font-size: 20px;
    font-family:nobel,Arial, Helvetica, sans-serif;
    margin-top:50px;
    margin-left:67px;
    cursor: pointer;
}
#head2{
    float:left;
    color:white;
    font-size: 20px;
    font-family:nobel,Arial, Helvetica, sans-serif;
    margin-top:50px;
    margin-left:30px;
    cursor: pointer;
}
#head3{
    float:left;
    color:white;
    font-size: 20px;
    font-family:nobel,Arial, Helvetica, sans-serif;
    margin-top:50px;
    margin-left:30px;
    cursor: pointer;
}
.headerdivright{
    width:45%;
    height:114px;
    float:left;
}
#img1{
    width:28px;
    height:28px;
    float:left;
    margin-top:42px;
    margin-left:25px;
    cursor: pointer;
}
#img2{
    width:28px;
    height:28px;
    float:left;
    margin-top:42px;
    margin-left:3px;
    cursor: pointer;
}
#img3{
    width:28px;
    height:28px;
    float:left;
    margin-top:42px;
    margin-left:3px;
    cursor: pointer;
}
#img4{
    width:28px;
    height:28px;
    float:left;
    margin-top:42px;
    margin-left:3px;
    cursor: pointer;
}
#img5{
    width:28px;
    height:28px;
    float:left;
    margin-top:42px;
    margin-left:3px;
    cursor: pointer;
}
#img6{
    width:28px;
    height:28px;
    float:left;
    margin-top:42px;
    margin-left:3px;
    cursor: pointer;
}
.main-body{
    margin-top:114px;
    width:100%;
    height:100%;
}
.bdiv1{
    background-image:url('https://www.7up.com/images/simple-7up/tropical-header.png');
    background-size:cover;
    width:100%;
    height:750px;
}
.textbody{
    color:white;
    font-weight:bold;
    text-transform: uppercase;
    font-size:70px;    
    padding-top: 250px;
    padding-left:75px;
    font-family:nobel,Arial, Helvetica, sans-serif;
}
.buttonbody{
    border: none;
    padding:9px;
    width:180px;
    background:none;
    border:2px solid white;
    border-radius: 25px;
    color: white;
    margin-left:80px;
    font-family: sans-serif;
    font-size: 18px;
    cursor: pointer;
    font-family:nobel,Arial, Helvetica, sans-serif;
}
p{ 
    margin-bottom: 20px;
}
.bdiv2{
    background-image:url('https://www.7up.com/images/simple-7up/image2.png');
    background-size:cover;
    width:100%;
    height:750px;
}
.textbanner{
    background-color:rgba(13,84,50,0.8);
    width:700px;
    height:200px;
    border-radius: 98px;
    position: absolute;
    margin-top: 309px;
    margin-left: 435px;
  }
  .textbanner h1{
    color:white;
    text-align: center;
    margin-top: 25px;
    font-family:nobel,Arial, Helvetica, sans-serif;
  }
  .textbanner p{
    color:white;
    text-align: center;
    margin-top: 15px;
    font-family:nobel,Arial, Helvetica, sans-serif;
  }
  
  .textbanner button{
    color:white;
    margin-left: 263px;
    margin-top: 10px;
    width:190px;
    cursor: pointer;
    font-family:nobel,Arial, Helvetica, sans-serif;
  }
  .bdiv3{
      background-image:url('https://www.7up.com/images/simple-7up/image1.png');
      background-size:cover;
      width:100%;
      height:750px;
  }
    .textbanner h1{
      color:white;
      text-align: center;
      margin-top: 25px;
      font-family:nobel,Arial, Helvetica, sans-serif;
    }
    .textbanner p{
      color:white;
      text-align: center;
      margin-top: 15px;
      font-family:nobel,Arial, Helvetica, sans-serif;
    }
    .textbanner button{
      color:white;
      margin-left: 263px;
      margin-top: 10px;
      width:190px;
      cursor: pointer;
      font-family:nobel,Arial, Helvetica, sans-serif;
    }
    .footerdiv{
        width:100%;
        height:127px;
        background-color:#3e3e3e;
        padding-top:12px;
    }
    #footerdiv1{
        color:white;
        font-family:nobel,Arial, Helvetica, sans-serif;
        font-weight: bold;
        float:left;
        margin-left:320px;
        font-size:11px;
        cursor: pointer;
    }
    #footerdiv2{
        color:white;
        float:left;
        font-weight: bold;
        font-family:nobel,Arial, Helvetica, sans-serif;
        font-size:11px;
        margin-left:25px;
        cursor: pointer;
    }
    #footerdiv3{
        color:white;
        float:left;
        font-weight: bold;
        font-family:nobel,Arial, Helvetica, sans-serif;
        font-size:11px;
        margin-left:25px;
        cursor: pointer;
    }
    #footerdiv4{
        color:white;
        float:left;
        font-weight: bold;
        font-family:nobel,Arial, Helvetica, sans-serif;
        font-size:11px;
        margin-left:25px;
        cursor: pointer;
    }
    #footerdiv5{
        color:white;
        float:left;
        font-family:nobel,Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size:11px;
        margin-left:25px;
        cursor: pointer;
    }
    #footerdiv6{
        color:white;
        float:left;
        font-family:nobel,Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size:11px;
        margin-left:25px;
        cursor: pointer;
    }
    #footerdiv7{
        color:white;
        float:left;
        font-family:nobel,Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size:11px;
        margin-left:25px;
        cursor: pointer;
    }
    #footerdiv8{
        color:white;
        float:left;
        font-family:nobel,Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size:11px;
        margin-left:25px;
        cursor: pointer;
    }
    #para1{
        color:white;
        float:left;
        font-family:nobel,Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size:11px;
        margin-left:522px;
        padding-top:24px;
    }
    .text{
      text-decoration: none;
    }
    .text:hover{
      text-decoration: underline;
    }